In [6]:
# General
import os
import pandas as pd
import numpy as np
import math
import sys
import time
import pickle
import json
import datetime
import random

#import sklearn
import sklearn
from sklearn import *

#import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load a set of pickle files, put them together in a single DataFrame, and order them by time
# It takes as input the folder DIR_INPUT where the files are stored, and the BEGIN_DATE and END_DATE
def read_from_files(DIR_INPUT, BEGIN_DATE, END_DATE):
    
    files = [os.path.join(DIR_INPUT, f) for f in os.listdir(DIR_INPUT) if f>=BEGIN_DATE+'.pkl' and f<=END_DATE+'.pkl']

    frames = []
    for f in files:
        df = pd.read_pickle(f)
        frames.append(df)
        del df
    df_final = pd.concat(frames)
    
    df_final=df_final.sort_values('TRANSACTION_ID')
    df_final.reset_index(drop=True,inplace=True)
    #  Note: -1 are missing values for real world data 
    df_final=df_final.replace([-1],0)
    
    return df_final

In [3]:
DIR_INPUT='../simulated-data-transformed/data/' 

BEGIN_DATE = "2018-04-01"
END_DATE = "2018-09-30"

print("Load  files")
%time transactions_df=read_from_files(DIR_INPUT, BEGIN_DATE, END_DATE)
print("{0} transactions loaded, containing {1} fraudulent transactions".format(len(transactions_df),transactions_df.TX_FRAUD.sum()))

Load  files
Wall time: 10.4 s
1754155 transactions loaded, containing 14681 fraudulent transactions

In [4]:
transactions_df.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,TX_DURING_WEEKEND,...,CUSTOMER_ID_NB_TX_7DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW,CUSTOMER_ID_NB_TX_30DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW,TERMINAL_ID_NB_TX_1DAY_WINDOW,TERMINAL_ID_RISK_1DAY_WINDOW,TERMINAL_ID_NB_TX_7DAY_WINDOW,TERMINAL_ID_RISK_7DAY_WINDOW,TERMINAL_ID_NB_TX_30DAY_WINDOW,TERMINAL_ID_RISK_30DAY_WINDOW
0,0,2018-04-01 00:00:31,596,3156,57.16,31,0,0,0,1,...,1.0,57.16,1.0,57.16,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2018-04-01 00:02:10,4961,3412,81.51,130,0,0,0,1,...,1.0,81.51,1.0,81.51,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2018-04-01 00:07:56,2,1365,146.00,476,0,0,0,1,...,1.0,146.00,1.0,146.00,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2018-04-01 00:09:29,4128,8737,64.49,569,0,0,0,1,...,1.0,64.49,1.0,64.49,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2018-04-01 00:10:34,927,9906,50.99,634,0,0,0,1,...,1.0,50.99,1.0,50.99,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754155 entries, 0 to 1754154
Data columns (total 23 columns):
 #   Column                               Dtype
---  ------                               -----
 0   TRANSACTION_ID                       int64
 1   TX_DATETIME                          datetime64[ns]
 2   CUSTOMER_ID                          int64
 3   TERMINAL_ID                          int64
 4   TX_AMOUNT                            float64
 5   TX_TIME_SECONDS                      int64
 6   TX_TIME_DAYS                         int64
 7   TX_FRAUD                             int64
 8   TX_FRAUD_SCENARIO                    int64
 9   TX_DURING_WEEKEND                    int64
 10  TX_DURING_NIGHT                      int64
 11  CUSTOMER_ID_NB_TX_1DAY_WINDOW        float64
 12  CUSTOMER_ID_AVG_AMOUNT_1DAY_WINDOW   float64
 13  CUSTOMER_ID_NB_TX_7DAY_WINDOW        float64
 14  CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW   float64
 15  CUSTOMER_ID_NB_TX_30DAY_WINDOW       float64
 16  CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW  float64
 17  TERMINAL_ID_NB_TX_1DAY_WINDOW        float64
 18  TERMINAL_ID_RISK_1DAY_WINDOW         float64
 19  TERMINAL_ID_NB_TX_7DAY_WINDOW        float64
 20  TERMINAL_ID_RISK_7DAY_WINDOW         float64
 21  TERMINAL_ID_NB_TX_30DAY_WINDOW       float64
 22  TERMINAL_ID_RISK_30DAY_WINDOW        float64
dtypes: datetime64[ns](1), float64(13), int64(9)
memory usage: 307.8 MB

In [ ]:
plt.bar("", "Stat", data = transactions_df['TX_FRAUD'], color = ["blue","red]")
plt.xlabel("Class")
plt.ylabel("Number of Transactions")
plt.title("Number of Fradulent and Legitimate Transactions")
plt.show()